<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
<connectionStrings><add name="TaRentaEntities" connectionString="metadata=res://*/TaRenta.csdl|res://*/TaRenta.ssdl|res://*/TaRenta.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RAN\SQLEXPRESS;initial catalog=TaRenta;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>